body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


button{
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0 2px 0 0 hsl(154, 59%, 39%);
    border: none;
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: hsl(154, 59%, 81%);;
}

em{
    color: white;
}

input, button{
    margin: 10px 5px;
    padding: 12px 20px;
    width: 85%;
    box-sizing: border-box;
    border: 1px solid  hsl(246, 25%, 77%);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

p{
    margin: auto;
}

span{
    color:hsl(0, 100%, 74%);
}

/* class selectors */

.context{
    color: white;
    margin-right: 15px;
}

.context p{
    font-size: 13px;
}

em{
    font-size: 10px;
    color: hsl(0, 100%, 74%);
}

.error{
    background-image: url("images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border: 2px solid hsl(0, 100%, 74%);
}

.f{
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    margin-bottom: 10px;
}

.lform{
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 0 0 rgb(0 0 0 / 0.2);
    text-align: center;
}

.main{
    align-items: center;
    background-color: hsl(0, 100%, 74%) ;
    background-image: url("images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 0 12%;
}

.spacing{
    padding: 10px;
}



.trailBox{
    background: hsl(248, 32%, 49%);
    border-radius: 12px;
    box-shadow: 0 5px 0 0 rgb(0 0 0 / 0.2);
    color: hsl(0,0%,90%);
    font-size: 13px;
    padding: 15px;
    text-align: center;
}

.trailBox span{
    color: white;
    font-size: 14px;
}


@media(max-width: 500px){
    body,html{
        background-image: url("images/bg-intro-mobile.png");
        height: 100vh;
        background-color: hsl(0, 100%, 74%);
    }
    .main{
        display: block;
        height: auto;
    }

    .login{
        margin: 40px;
    }
}